h2 {
  font-size: 24px;
  margin-bottom: 0;
}

.god-container {
  width: 100%;
  height: 150px;
  /* background-color: aliceblue; */
  color: black;
  transition: width 1s ease-out 0.4s, height 0.5s;
  /* transition: property duration timing-function delay; */

  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
}

.god-container:hover {
  transform: scale(1.1);
}

.span-five {
  grid-column: 3 / span 1;
}

.open {
  position: absolute;
  background-color: white;
  height: 402px;
  width: 655px;
}
